.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.5em 2em;
	background-color: var(--clr-light);
	box-shadow: 2px 0 5px 1px var(--clr-grey);
}

.logo {
	display: block;
	height: 100%;
}

.logoImg {
	display: block;
	height: 100%;
}

.defaultLink,
.activeLink {
	margin-left: 3em;
	color: var(--clr-black);
	font-weight: var(--fw-bold);
	text-decoration: none;
	text-transform: uppercase;
}

.activeLink {
	color: var(--clr-orange);
}
