.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em;
	border-radius: 10px;
}

.searchBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20vh;
	width: 100%;
	margin: 2em 0 4em;
	padding: 2em;
	background-color: var(--clr-medium-blue);
}

.searchInputTitle {
	width: 100%;
	color: var(--clr-light);
	font-size: var(--fz-title);
	font-weight: var(--fw-semi-bold);
	text-align: center;
}

.searchInput {
	width: 100%;
	padding: 1em 2em;
	background-color: var(--clr-light);
	color: var(--clr-black);
	font-family: var(--font-family);
	font-size: var(--fz-normal);
	font-weight: var(--fw-semi-bold);
	border-radius: 5px;
	border: none;
}

.allCharacters {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2em;
}

.emptyListInfo {
	color: var(--clr-light);
	text-align: center;
}
