:root {
	--clr-light: hsla(0, 0%, 100%, 1);
	--clr-charcoal: hsl(0, 0%, 14%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-dark-blue: hsl(231, 91%, 13%);
	--clr-orange: hsla(32, 98%, 56%, 1);

	--blue-gradient: linear-gradient(0deg, hsla(231, 91%, 13%, 0.5), hsla(231, 91%, 13%, 0.7));

	--font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	--fw-normal: 400;
	--fw-semi-bold: 500;
	--fw-bold: 700;

	--fz-normal: 14px;
	--fz-big: 22px;
	--fz-title: 36px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: var(--clr-dark-blue);
	color: var(--clr-charcoal);
	font-family: var(--font-family);
	font-weight: var(--fw-normal);
}

button {
	cursor: pointer;
}
