.card {
	height: 280px;
	width: 220px;
	background-color: var(--clr-light);
	color: var(--clr-black);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px 2px var(--clr-charcoal);
}

.characterImg {
	display: block;
	height: 60%;
	width: 100%;
	object-fit: cover;
}

.characterInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
	padding: 0.5em 1em;
}

.characterName {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2em;
}

.characterStats p {
	display: flex;
	justify-content: space-between;
	font-weight: var(--fw-semi-bold);
}

.addToFavourites {
	height: 100%;
	background-color: transparent;
	border: none;
}

.addToFavourites img {
	height: var(--fz-big);
}
