.popularCharacters {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3em;
	width: 100%;
	margin-bottom: 3em;
	padding: 4em 0;
	background: var(--blue-gradient), url('../../../public/disney-castle.webp');
	background-size: cover;
	background-position: 0 30%;
	background-repeat: no-repeat;
}

.popularCharactersTitle {
	width: 100%;
	margin-bottom: 1em;
	color: var(--clr-light);
	font-size: var(--fz-title);
	font-weight: var(--fw-semi-bold);
	text-align: center;
}

.allCharacters {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2em;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em;
}

.emptyListInfo {
	color: var(--clr-light);
	margin-bottom: 2em;
	font-size: var(--fz-big);
}
